
:root {
    --fontcolor: black;
    --detailfontcolor: #0000008f;
    --bordercolor: #00000010;
    --buttoncolor1: #1f8a3a;
    --buttoncolor2: rgb(7, 113, 27);
}

* {
    padding: 0px;
    margin: 0px;
}

                                                                                        /* nav bar styling*/
/* nav bar styling */

nav div {
    display: inline;
}

header {
    background-color: white;
    box-shadow: 0 0 13px -11px rgba(0, 0, 0, 0.601);
}

/* main logo */

.logo img {
    height: 30px;
    margin: 14px 45px;
}
.logo img:hover {
    cursor: pointer;
}

/* nav bar main box styling */

.itembar {
    display: flex;
    align-items: center;
    font-family: var(--mainfont);
    border-top: solid var(--bordercolor);
    border-left: solid var(--bordercolor);
    border-bottom: solid var(--bordercolor);
    height: 47px;
    margin-left: 2vw;
}

/* nav bar item styling */

.boxitems {
    text-decoration: none;
    color: var(--fontcolor);
    font-weight: 600;
    border-right: 0.9px solid var(--bordercolor);
    padding: 14px 30px 14px 30px;
    justify-content: center;
    align-items: center;
}

/* Basket styling */

.flex-basket {
    display: flex;
    flex-direction: column;
    float: right;
    border-left: solid var(--bordercolor);
    width: 25.3vw;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0%;
    box-shadow: 0 0 13px -11px rgba(0, 0, 0, 0.601);
}

/* basket heading ["your basket"] */

.flex-basket h2 {
    display: flex;
    margin-top: 37px;
    font-weight: bolder;
    font-size: x-large;
    height: auto;
    justify-content: center;
}

.flex-basket a {
    font-size: smaller;
    margin-top: 55px;
    padding: 1vw;
    color: var(--detailfontcolor);
}

#voucher {
    color: var(--buttoncolor2);
    font-size: small;
    font-weight: bold;
    margin: 12px;
    margin-top: 40px;
    text-align: center;
    padding: 15px;
    border: solid rgb(110 110 110 / 4%);
}

/* basket check out button */

#checkout {
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 12px;
    cursor: pointer;
    background-color: var(--buttoncolor1);
    color: white;
    margin-top: 49vh;
    height: 41px;
    width: 24vw;
    border-radius: 6px;
    border: solid white;
}

                                                                                    /* Deals menu */
/* main container background */
.container {
    background-image: url(../images/background.jpg);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 76vw;
}

.flex-item {
    margin: 10px;
    height: 314px;
    width: 454px;
    background-color: white
}

.flex-item img {
    width: 454px;
    height: 185px;
}

 /*deals product info */

.mainname {
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.subdetails {
    font-size: small;
    height: 31px;
    color: var(--detailfontcolor);
    margin: 7px 11px;
}
/* deals price css */

.price {
    font-size: small;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 6px 8px;
    padding-left: 10px;
    border-top: 0.5px solid var(--bordercolor);
}

.previouseprice {
    margin-left: 8px;
    text-decoration: line-through rgb(191, 13, 13);
    text-decoration-thickness: 2px;
    color: rgb(191, 13, 13);
}

/* deals odering Button css */

.customisebtn {
    cursor: pointer;
    font-size: small;
    text-decoration: none;
    color: white;
    margin-left: auto;
    height: 35px;
    width: 12vw;
    border-radius: 6px;
    border: solid white;
    background-color: var(--buttoncolor1);
}

                                                                                            /* pizza menu */
/* pizza main heading */

.heading{
    font-family: system-ui;
    display: flex;
    justify-content: center;
    width: inherit;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 9px;
}

/*pizza item box styling css  */

.flex-item2{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 326px;
}

div.flex-item2{
    display: flex;
    height: 450px;
    background-color: white;
    width: 225px;
    justify-content: flex-start;
    margin: 10px;
}

.flex-item2 img{
    height: 150px;
    width: 225px;
}

/* pizza details styling */

.mainname2 {
    display: flex;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 6px;
}

.subdetails2 {
    display: flex;
    font-size: small;
    height: 64px;
    color: var(--detailfontcolor);
    margin: 23px 2px 31px 10px;
}

.selectcrust2{
    margin: 2px 8px;
    font-size: 15px;
}

/*button css [add]  */

.customisebtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding-left: 74px;
    height: 41px;
    width: 222px;
    border-radius: 9px;
    border: 4px solid white;
    background-color: var(--buttoncolor1);
}

.price2 {
    font-size: small;
    display: flex;
    justify-content: end;
    border-top: 0.5px solid var(--bordercolor);
}

span.sideprice {
    padding-left: 61px;
}

/*pizza item box styling css  */

.flex-item3{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 326px;
}

div.flex-item3{
    display: flex;
    height: 375px;
    background-color: white;
    width: 225px;
    justify-content: flex-start;
    margin: 10px;
}

.flex-item3 img{
    height: 150px;
    width: 225px;
}

/* pizza icons css */

img.sub-icons{
    height: 18px;
    width: 18px;
    margin: 2px 2px 0px 6px;
    
}

img.spice{
    margin: -4px -2px -5px -2px;
    height: 31px;
    width: 31px;
}

img.new{
    height: 29px;
    width: 28px;
    margin: -1px -1px 0px 4px;
}

.basketlogo img{
    height: 26px;
    width: 33px;
}
