@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');

:root{
    --dropbox-color:#e9ebee;
}
                                                                /* nav bar styling */

header {
  font-family: 'Heebo', sans-serif;
}

body{
    font-family: 'Heebo', sans-serif;
}

.boxitems:hover {
  text-decoration: underline;
}

.boxitems.active {
  background-image: url(../images/side-menu-bg.jpg);
  color: white;
  background-attachment: fixed;
}

                                                                 /* Basket styling */

#checkout:hover {
  background-color: var(--buttoncolor2);
}

#underline:hover {
  cursor: pointer;
}

#voucher:hover {
  cursor: pointer;
}

                                                                  /* deals styling */

.customisebtn:hover {
  background-color: var(--buttoncolor2);
}
.flex-item:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px -2px rgb(24, 24, 24);
}

                                                                    /* pizza styling */
/* pizza heading side lines */
.heading::before,.heading::after{
    content: "";
    border-top: 3px solid var(--bordercolor);
    margin: 22px 12px 0px 0px;
    flex: 1 0 20px;
}

.heading::after{
    margin: 22px 0 0 20px;
}

.customisebtn2:hover {
    background-color: var(--buttoncolor2);
}

.flex-item2:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px -2px rgb(24, 24, 24);
  }

                                                                    /* dropsdown menu of pizza menu*/

.dropdown *{
    box-sizing: border-box;
}

.dropdown{
    min-width: 15em;
    position: relative;
    margin: 9px;
}

.select{
    background: var(--dropbox-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    height: 47px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    
}

.select-clicked{
    border: 2px solid black;
    height: 47px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select:hover{
    background: var(--dropbox-color);
}

.caret{
    width: 0px;
    height: 0px;
    border-radius: 24px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 7px solid #2c2b2bad;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    background: var(--dropbox-color);
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    box-shadow: -1px 1px 11px -2px rgba(5, 5, 5, 0.473);
    z-index: 1;
}

.menu li{
    padding: 0px 0px 0px 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.menu li:hover{
    background: rgb(34 164 255);
    color: white;
}

.active{
    background: rgb(30 148 230);
    color: white;
}

.menu-open{
    display: block;
    opacity: 1;
}
span.selected{
    overflow: hidden;
    white-space: nowrap;
}

/* "sides menu" hover button */

.flex-item3:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px -2px rgb(24, 24, 24);
  }


                                                                                /* Resposive design  */

.basketlogo{
    display: none;
}
@media(max-width : 2484px) and (min-width:1248px) {
    .flex-container{
        display: flex;
        justify-content: center;
    }
    .customisebtn{
        width: 24em;
    }
}

@media (max-width:1247px) and (min-width : 744px) {
    .flex-container{
        display: flex;
        justify-content: center;
    }

    .flex-item{
        flex-grow: 0.7;
    }

    .flex-item img{
        width: 100%;
    }

    .customisebtn{
        width: 38em;
    }

    #checkout{
        left: 75%;
    }
}

@media(max-width:743px){
    .flex-basket{
        position: fixed;
        z-index: 2;        
        width: 270px;
    }
    .flex-basket h2{
        visibility: hidden;
        border: none;
    }
    #checkout{
        width: 16rem;
    }

    .basketlogo{
        display: inline;
        position: absolute;
        z-index: 8;
        right: 20px;
        top: 16px;
    }

    .heading{
        margin-top: 0px;
    }
    nav{
        height: 130px;
    }
    .boxitems{
        padding: 23px 32px 17px 30px;
    }

    .itembar {
        overflow-x: scroll;
        height: 77px; 
        margin-left: 8px;
        border: none;
    
    }

    .itembar::-webkit-scrollbar{
        width: 0px;
    }

    .flex-container {
        justify-content: center;
        width: 100%;
    }

    .flex-item {
        flex-grow: 1;
        height: auto;
        background-color: white
    }

    .flex-item img{
        width: 100%;
    }
    .customisebtn{
        width: 16em;
    }
    div .flex-item2{
        height: auto;
    }
    .subdetails2{
        height: auto;
    }
    .hide{
        display: none;
    }    
}
